<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-sign-in-alt fa-6x"></i>
    <h1 class="display-3">Welcome to my test login application</h1>
    <p class="lead">It was created in Javascript with Node.js. Authentication is done by passport.</p>
    <hr>
    <a class="btn btn-primary btn-lg btn-light" role="button" href="/login">Login</a>
    <a class="btn btn-primary btn-lg btn-dark" role="button" href="/register">Register</a>


  </div>
</div>

<%- include('partials/footer') %>

