<%- include('partials/header') %>
<%- include('partials/internalheader') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-file-alt fa-4x"></i>
    <h4 ><br>This is sample page to demonstrate user remains logged in upon navigating to other pages</h4>

  </div>
</div>
<%- include('partials/footer') %>
